/projects/1-node-farm/node_modules
/projects/1-node-farm/dist
/projects/2-how-node-works/node_modules
/projects/2-how-node-works/dist
/projects/3-asynchronous-JS/node_modules
/projects/3-asynchronous-JS/dist
/projects/4-natours/node_modules
/projects/4-natours/dist
